.show-errors
{
    padding: 3px;
    margin-bottom: 2px;
    text-align: center;
}

.logo img {
    max-height: 45px;
    width: 70px;
}


#map iframe
{
	width: 100% !important;
}

.pricing-box 
{
    height: auto;
    padding: 20px;
    
}