*,html,body,h1,h2,h3,h4,h5,h6
{
	font-family: 'Cairo', sans-serif;
}
.active-bread
{
	color: #39C4D2 !important;
}
.text-red
{
	color: red !important;
}

.text-blue
{
	color: blue !important;
}
.sort-input
{
	width:70px;
}
.draggable-item
{
	cursor: all-scroll !important;
}

.img-table
{
	width: 50px; 
	height: 50px;
}
textarea 
{
  resize: none;
}

.privew-image,.privew-image2
{
	max-width: 100px;
	max-height: 100px;
}

td .privew-image
{
	max-width: 80px;
	max-height: 80px;
}
.portlet-body form .form-group label
{
    font-weight: 400;
    background: #36C6D3;
    padding: 3px 5px;
    border-radius: 5px !important;
    color: #fff;
}

.form-group .label-success
{
	background: #364150 !important;
}

.field-required
{
	color: red;
	font-size: 20px;
}
.btn-group-in-table
{

}
.dropdown-menu
{
	min-width: 100px !important;
}
.table-scrollable .dataTable td>.btn-group, .table-scrollable .dataTable th>.btn-group
{
	margin-left: -35px !important;
}
.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
    
    color: #3db8de;
}
.view-img
{
	background: rgba(2,2,2,0.5) !important;
}
.tiles .tile
{
	cursor: default !important;
}
.view-img  .number a
{
	cursor: pointer !important;
	color: #AA3C41;
}
.gallery img
{
	width: 150px;
	height: 100px;
	padding: 5px;
	background: rgba(2,2,2,0.5);
	border:1px solid #fff;
}
.gallery i
{
	position: absolute;
    top: 0;
    font-size: 20px;
    color: #ab2c2c;
    border: 1px solid #fff;
    padding: 5px;
    background: rgba(2,2,2,0.5);
    cursor: pointer;
}


