/*
===============================================================
    Footer Widgets CSS
===============================================================
*/

#footer-widgets {
    background: #f7f7f7;
    padding: 88px 0 80px;
    color: #5e6271;
    box-shadow: 0px 1px 1px 0px rgba(44, 49, 59, 0.15);
}

#footer-widgets p {
    color: #5e6271;
}

.footer-logo,
#footer-widgets .widget-title {
    margin-bottom: 30px;
}

#footer-widgets .widget-title {
    position: relative;
    padding-bottom: 10px;
}

#footer-widgets .widget-title:after {
    content: '';
    bottom: 0;
    left: 0;
    width: 70px;
    height: 1px;
    position: absolute;
    -webkit-transition: .3s all;
    transition: .3s all;
}

#footer-widgets .widget-title:hover:after {
    width: 160px;
}

#footer-widgets .widget-title img {
    margin-right: 8px;
}


/*-----------------------------------
    01. Widget About
------------------------------------*/

ul.widget-info {
    margin-top: 10px;
}

ul.widget-info i {
    margin-right: 10px;
}

ul.widget-info li {
    line-height: 2;
}

.widget_about p {
    margin-bottom: 20px;
}

.footer-logo img {
    margin-top: -8px;
}

/*-----------------------------------
    02. Widget Page List
------------------------------------*/

.widget_links ul li {
    margin-bottom: 15px;
    position: relative;
    padding-right: 40px;
}

.widget_links ul {
    display: inline-block;
}

.widget_links ul li a {
    color: #5e6271;
    -webkit-transition: .3s;
    transition: .3s;
}

.widget_links ul li:last-child {
    margin-bottom: 0;
}

/*-----------------------------------
    03. Widget Latest News
------------------------------------*/


li.latest-news {
    margin-bottom: 20px;
}

li.latest-news h6 {
    color: #5e6271;
    -webkit-transition: .3s;
    transition: .3s;
}

li.latest-news:last-child {
    margin-bottom: 0;
}

#footer-widgets li.latest-news p {
    text-transform: uppercase;
    color: #9c9c9c;
    margin-top: 5px;
}

/*
=============================================
 Blog Page Widgets 
 ============================================
 */

#blog-content .widget {
    margin-bottom: 30px;
}


#blog-content .widget-tag {
    margin-bottom: 20px;
}
#blog-content .widdget-instagram {
    margin-bottom: 15px;
}

#blog-content .widget:last-child {
    margin-bottom:  0;
}

#blog-content .widget-title {
    padding: 0 0 30px;
}

#blog-content .widget-title img {
    margin-right: 10px;
}

/*-----------------------------------
    02. Widget Search
------------------------------------*/

.widget-search .input {
    width: calc(80% - 2em);
    margin-right: 10px;
    background: #f9f9f9;
    box-shadow: 0px 0px 2px 0px rgba(7, 7, 6, 0.2);
    margin-bottom: 0;
}

.widget-search .input__field {
    padding: 10px 10px
}

.widget-search .graphic--hantus {
    stroke-width: 0px;    
}

.widget-search .input__field--hantus:focus + .input__label--hantus .graphic--hantus, 
.widget-search .input--filled .graphic--hantus {
    stroke-width: 4px;
}
.searchBtn
{
    background-color: #ec5598;
}
.widget-search input[type=button],.searchBtn {
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(7, 7, 6, 0.2);
    color: #fff;
    border: 0;
    padding: 10px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.widget-search input[type=button]:hover {
    background: #f9f9f9;
}

/*-----------------------------------
    02. Widget Recent Post
------------------------------------*/
.recent-post {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.recent-post h6 {
    margin-bottom: 10px;
    transition: .3s all;
}

.recent-post p {
    color: #c2c2c2;
}

.recent-post:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
}


/*-----------------------------------
    03. widget instagram
------------------------------------*/

.widdget-instagram li {
    display: inline-block;
    position: relative;
    width: 29.7%;
    margin-bottom: 10px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 5px;
}

#footer-widgets .widdget-instagram li {
    width: 28%;
}

.widdget-instagram li:nth-child(6),
.widdget-instagram li:nth-child(3) {
    margin-right: 0;
}

.widdget-instagram li img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}


.widdget-instagram li:hover img {
    transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
}

.widdget-instagram li .instagram-overlay {
    position: absolute;
    top: 0;
    background: rgba(44,49,69,.7);
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.widdget-instagram li:hover .instagram-overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.widdget-instagram li .instagram-overlay a {
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    margin-left: -13px;
}


/*-----------------------------------
    04. Widget Tags
------------------------------------*/

.widget-tag li {
    display: inline-block;
}

.widget-tag li a {
    color: #5e6271;
    background: #efeff1;
    padding: 8px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget-tag li a:hover {
    color: #fff;
}

/*-----------------------------------
    03. Widget Archives
------------------------------------*/

.widget-acrhives li {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.widget-acrhives li:last-child {
    border-bottom: 0;
}

.widget-acrhives li a {
    color: #c2c2c2;
    padding: 10px 0;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget-acrhives li:first-child a {
    padding-top: 0;
}


.widget-acrhives li:last-child a {
    padding-bottom: 0;
}

.widget-acrhives li a span {
    float: right;
}

/*-----------------------------------
    05. Widget Calender
------------------------------------*/

#blog-content .widget-calender .widget-title li {
    display: block;
    padding: 10px 0;
    text-align: center;
    background: #efeff1;
    color: #2c3145;
    position: relative;
    overflow: hidden;
}

#blog-content .widget-calender .widget-title {
    padding-bottom: 0;
}

#blog-content .widget-calender .widget-title li i {
    padding: 11px 20px;
    position: absolute;
    top: 0;
    cursor: pointer;
}

#blog-content .widget-calender .widget-title li i.left {
    left: 0;
    border-right: 1px solid rgba(255,255,255,.4);
}

#blog-content .widget-calender .widget-title li i.right {
    right: 0;
    border-left: 1px solid rgba(255,255,255,.4);
}

.widget-calender {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.weekdays {
    margin: 0;
    padding: 10px 0 10px;
    color: #fff;
}

.weekdays li {
    display: inline-block;
    width: 11.6%;
    text-align: center;
}

.days {
    padding: 0 0;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 11.6%;
    text-align: center;
    padding: 5px 0;
}

.days li.disable {
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.days li .active {
    padding: 5px;
    color: #fff;
}

/* Calender Responsive*/
@media screen and (max-width:920px) {
    .weekdays li,
    .days li {
        width: 11.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
        width: 11.6%;
    }
    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .weekdays li,
    .days li {
        width: 11.6%;
    }
}


/*-----------------------------------
    05. Widget Gallery
------------------------------------*/

.gallery-images {
    margin-top: 30px;
}

.gallery-images img {
    width: 33.33333%;
    margin: 0;
    padding: 0;
    margin-right: -5px;
    margin-bottom: -1px;
}

/*-----------------------------------
    06. Widget Newsletter
------------------------------------*/

.widget .newsletter {
    padding: 30px 16px;
}

.widget-newsletter input[type=email] {
    width: 100%;
    margin-bottom: 16px;
}

.widget-newsletter .subscribe {
    border: 1px solid;
    border-radius: 4px;
    background: #fff;
    padding: 10px 16px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.widget-newsletter .subscribe:hover {
    color: #fff;
}